.contact-container {
    width: 80%;
    margin: 50px auto;
    display: flex;
    justify-content: space-between; /* Space between form and text */
    align-items: flex-start; /* Align items to the top */
}

.contact-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: #e6e7e9;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-group {
    flex-basis: calc(50% - 20px);
}

/* Input styles */
.contact-box [type="text"],
.contact-box [type="email"] {
    width: 100%;
    padding: 10px;
    border: none;
    box-sizing: border-box;
}

textarea {
    width: 98%;
    resize: none;
    padding: 10px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

/* Button styles */
.contact-box button {
    box-sizing: border-box;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    background-color: #333645;
    border-color: #333645;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;
}

/* Hover effect */
.contact-box button:hover {
    cursor: pointer;
}

/* Button style when clicked */
.contact-box button:active {
    background-color: pink;
}

/* Contact text styling */
.contact-text {
    width: 45%; /* Space for the text */
    font-family: 'Poppins', sans-serif;
    color: black;
}

.contact-text h3 {
    font-weight: 600;
    top: 0;
    margin-top: 0;

}
/* Ensure underline applies only to text, not the icon */
.contact-text h3:hover:nth-last-child(1) {
    text-decoration: underline;
    cursor: pointer;
}

/* Prevent the icon from showing the underline */
.contact-text h3 .icon-arrow-down {
    display: inline-block; /* Ensures it behaves as part of the inline text */
}

.contact-text h3 .icon-arrow-down:hover {
    text-decoration: none; /* Prevent underline on icon hover */
}

.contact-text h2{
    -webkit-text-size-adjust: 100%;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    letter-spacing: .4px;
    box-sizing: border-box;
    background: transparent;
    text-decoration: none;
    font-family: inherit;
    line-height: 1.1;
    margin: 0 0 15px;
    font-size: 1.625rem;
    color: #926fb1!important;
    font-weight: 600;
}

.contact-text h2:hover{
text-decoration: underline;

}

.contact-text p {
    line-height: 1.5;
    color: black ;
}




.contact-box label:nth-of-type(2) {
    color: red;
}
.contact-text p {
    display: none; /* Initially hide the paragraph */
}

/* Styles for the heading */
.contact-text h3#out-of-hours-heading {
    cursor: pointer;
}


.contact-text h3#out-of-hours-heading:hover{
    text-decoration: underline;
}