.contact-container {
    width: 80%;
    margin: 50px auto;
}

.contact-box {
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 20px;
    background-color: pink;
    box-sizing: border-box;
    border-radius: 10px 10px 0 0;
}

.input-row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.input-group {
    flex-basis: calc(50% - 20px); 
}

/* Input styles*/
.contact-box [type="text"], 
.contact-box [type="email"] 
{
    width: 100%;
    padding: 10px;
    border: none;

  
    box-sizing: border-box;
}


textarea {
    width: 98%;
    resize: none;
    padding: 10px;
    border: none;
    font-family: 'Times New Roman', Times, serif;
    border-bottom: 1px solid white;
    box-sizing: border-box;
}

/* Button styles*/
.contact-box button {

    box-sizing: border-box;
    font-family: inherit;
    font-weight: 400;
    text-align: center;
    cursor: pointer;
    border: 1px solid transparent;
    color: #fff;
    background-color: #333645;
    border-color: #333645;
    line-height: 35px;
    padding: 5px 15px;
    text-transform: uppercase;
    font-size: 1.063rem;
    border-radius: 3px;

 


}

/* Hover effect */
.contact-box button:hover {
    cursor: pointer;
}

/* Button style when clicked */
.contact-box button:active {
    background-color: pink;
}

/* Contact text styling */
.contact-text h3 {
    color: black;
    font-weight: 600;
    margin-bottom: 30px;
    font-family: 'Times New Roman', Times, serif;
}

.contact-box label:nth-of-type(2){
    color: red
}



